/*
1 Posicionamiento --> static, absolute, relative, fixed
2 Modelo de caja (Box model) --> margin, border, padding, content
3 Tipografía --> tipos, tamaños de fuente, etc
4 Estilos visuales --> box-shadow, border-radius, gradient, etc
5 Otros --> reglas CSS y más
*/
:root {
  /* color*/
  --primario: #010dbd;
  --secundario: #ffe9d5;
  --terciario: #1a9af7;
  --negro: #201e1c;
  --oscuro: #282623;
  --gris: #dbd9d9;
  --font-1: "Iceland";
  --font-2: "Press Start 2P";
  --font-3: "Rubik Distressed";
  --font-4: "VT323";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--font-1), sans-serif;
  /* obtener un cursor gamer */
  cursor: url(https://cdn.custom-cursor.com/db/4732/32/arrow2699.png), default;
}
body {
  background-image: url(./imagenes/fondo.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
header {
  display: flex;
  width: 100%;
  min-width: 320px;
  height: 70px;
  text-align: center;
  align-items: center;
  /* background: linear-gradient(207.8deg, #201e1c 16.69%, #363534 100%); */
  color: var(--gris);
  justify-content: space-between;
  /* background oscuro con transparencia */
  background: rgba(0, 0, 0, 0.7);
}

header img {
  height: 50px;
  margin: 30px;
  align-self: center;
}

header h1 {
  font-size: 4.5rem;
  color: var(--gris);
  margin: 0;
  padding: 0;
  align-self: center;
}

main {
  display: flex;
  width: 100%;
  min-width: 320px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

main .imagen-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .imagen-container img {
  width: 400px;
  object-fit: cover;
  border-radius: 8px;
  /* hacerlo mas TRANSPARENTE */
  opacity: 0.9;
  margin: 10px;
}

main .container {
  width: 100%;
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

.container .marcadores {
  width: 50%;
  color: var(--gris);
  text-align: center;
  font-size: 3rem;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container .marcadores .marcador {
  height: fit-content;
  margin: 10px;
}

.container .palabra {
  width: 80%;
  color: var(--gris);
  text-align: center;
}

.container .palabra span {
  vertical-align: bottom;
  width: 50px;
  height: 50px;
  font-size: 5.5rem;
  border: #282623 solid 2px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.7);
  /* Hacer mayuscula */
  text-transform: uppercase;
  display: inline-block;
}

.container .play-btn {
  border: none;
  border-radius: 8px;
  font-size: 6rem;
  font-family: var(--font-2);
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.7);
  color: var(--gris);
  padding: 10px 20px;
  margin: 30px;
  cursor: url(https://cdn.custom-cursor.com/db/4731/32/arrow2699.png), pointer !important;
}
.container .letra-btn {
  border: none;
  border-radius: 8px;
  font-size: 2rem;
  font-family: var(--font-2);
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.7);
  color: var(--gris);
  padding: 10px 20px;
  cursor: url(https://cdn.custom-cursor.com/db/4731/32/arrow2699.png), pointer !important;
}
.container .letras-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container .letras-container button {
  margin: 5px;
}

.letras-container .letra-btn--disabled {
  background: #282623;
  color: #dbd9d9;
  cursor: not-allowed;
}
.container button:hover {
  background: #000000;
  color: var(--gris);
  box-shadow: 0 0 10px 0 var(--gris);
  /* incrementa tamaño de boton */
  transform: scale(1.1);
  /* Reproducir audio  */
}
.container .letra-btn--disabled:hover {
  background: #282623;
  color: #dbd9d9;
  box-shadow: none;
  transform: scale(1);
  cursor: not-allowed;
}

.resultado-container {
  /* centrado al medio de la pantalla */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.9);
  color: var(--gris);
  text-align: center;
  font-size: 4rem;
  font-family: var(--font-2);
  display: none;
}

.resultado-texto {
  font-size: 7rem;
  font-family: var(--font-3);
  text-transform: uppercase;
  height: 100px;
  animation: resultado-texto  1s infinite;
}
.resultado-texto--positivo {
  color: #048604;
  text-shadow: 0 0 10px #048604;
}

.resultado-texto--negativo {
  color: #ff0000;
  text-shadow: 0 0 10px #ff0000;
}

.resultado-container .respuesta {
  font-family: var(--font-2);
  text-transform: uppercase;
  margin: 5px;
  color: #ffffff;
}

.replay-btn {
  border: none;
  border-radius: 8px;
  font-size: 3rem;
  font-family: var(--font-2);
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.7);
  color: var(--gris);
  padding: 10px 20px;
  margin: 30px;
  cursor: url(https://cdn.custom-cursor.com/db/4731/32/arrow2699.png), pointer !important;
}

@keyframes resultado-texto {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
